%p#notice= notice
%h1=@team.name


#members
	%h3.title Members
	%ul
		- @team.students.each do |student|
			%h3= student.name

-@team.events.each do |event|
	%p= event.description
	=image_tag event.image.url(:large)
				

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
